@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: rgb(40,44,51);
    box-sizing: border-box;
}


.header {
    display: flex;
    justify-content: space-around;
    height: 50px;
}

.header .right {
    display: flex;
    align-items: center;
}

.header ul {
    display: flex;
}

.hug {
    width: 25px;
    position: absolute;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.separator {
    margin-left: 25px;
    width: 1px;
    height: 191px;
    background: #ABB2BF;
}

.item_logo {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 25px;
    color: #ABB2BF;
    transition: all linear 500ms;
}

.left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left_image {
    color: white;
    width: 16px;
    height: 16px;
    padding: 5px;
}


.page_name::before {
    color: white;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Fira Code', monospace;
    content: 'João Silva';
}


.right_logo {
    color: #C778DD;
}

.header .right ul li {
    padding: 15px;
}

.header .right ul li a {
    color: #ABB2BF;
    font-family: 'Fira Code', monospace;
    font-size: 15px;
    transition: all 200ms linear;
}

.active {
    color: white;
}

.item_logo:hover {
    color: white;
    filter: drop-shadow(1px 1px 2px white);
}

.header .right ul li a:hover {
    color:white;
}

.first_left {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.first_right {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    align-items: center;
    flex-direction: column;
}

.first {
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}

.purple {
    color: #C778DD;
}

.first_title {
    color: white;
    font-family: 'Fira Code', monospace;
    flex-wrap: wrap;
    max-width: 500px;
    font-size: 18px;
    margin-top: 2vh;
}

.first_subtitle {
    margin-top: 20px;
    color:#ABB2BF;
    font-family: 'Fira Code', monospace;
    font-size: 14px;
}

.first_button {
    margin-top: 15px;
    background-color: transparent;
    border: 1px solid #C778DD;
    width: 148px;
    height: 37px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Fira Code', monospace;
    font-size: 14px;
    transition: all linear 500ms;
}

.buttonimage {
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    border: 1px solid #ABB2BF;
    padding: 5px;
}

.rectangle {
    background-color: #C778DD;
    width: 16px;
    height: 16px;
}

.buttonimage_text {
    color: white;
    font-family: 'Fira Code', monospace;
    font-size: 13px;
    padding-left: 8px;
}

.first_button:hover {
    filter: drop-shadow(1px 1px 2px #C778DD);
    cursor: pointer;
}


.projects {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 93vw;
}

.projects_row {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.projects_left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.projects_title {
    color: white;
    font-family: 'Fira Code', monospace;
    font-size: 21px;
}

.projects_separator {
    margin-left: 9px;
    width: 511px;
    border-radius: 1px;
    height: 1px;
    background-color: #C778DD;
}
.projects_right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.project_view a {
    color: white;
    font-family: 'Fira Code', monospace;
    font-size: 12px;
}

@media only screen and (max-width:480px) {
    .header {
        display: flex;
        justify-content: center;
        height: 50px;
    }

    .hug {
        display: none;
    }

    .left_image {
        color: white;
        width: 13px;
        height: 13px;
        padding: 3px;
    }
    .header .right ul li {
        padding: 5px;
    }
    .item_logo {
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 25px;
        color: #ABB2BF;
    }

    .page_name::before {
        color: white;
        font-size: 13px;
        font-weight: 600;
        font-family: 'Fira Code', monospace;
        content: 'JS';
    }

    .header .right ul li a {
        color: #ABB2BF;
        font-family: 'Fira Code', monospace;
        font-size: 13px;
    }

    .first {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 50px;
    }

    .first_title {
        color: white;
        font-family: 'Fira Code', monospace;
        flex-wrap: wrap;
        max-width: 300px;
        font-size: 16px;
    }

    .first_right img {
        width: 250px;
    }

    .first_left {
        align-items: center;
        justify-content: center;
        width: 100vw;
    }

    .first_subtitle {
        margin-top: 20px;
        color:#ABB2BF;
        font-family: 'Fira Code', monospace;
        font-size: 14px;
        max-width: 300px;
        margin-bottom: 15px;
    }

    .projects_title {
        color: white;
        font-family: 'Fira Code', monospace;
        font-size: 16px;
    }

    .projects_separator {
        margin-left: 9px;
        width: 80px;
        border-radius: 1px;
        height: 1px;
        background-color: #C778DD;
    }
}
